<h3>with-animations</h3>
<tabset>
    <tab heading="@changeDivSize">
        <input type="checkbox" [(ngModel)]="myToggleValue" />myToggleValue<br/>
        <hr/>
        <div [@changeDivSize]="!myToggleValue?'smaller':'normal'">essai animation avec [@xyTrigger]="stateXorY"</div>        
    </tab>
    <tab heading="@fadeInOut">
        <input type="radio" name="ulOrTable" [(ngModel)]="ulOrTable" [value]="'ul'" /> ul &nbsp;&nbsp;
        <input type="radio" name="ulOrTable" [(ngModel)]="ulOrTable" [value]="'table'" /> table <br/>
        <input type="button" value="add item" (click)="onAddItem()" /> &nbsp;
        <input type="button" value="remove item" (click)="onRemoveItem()" /><br/>
        <br/>
        <ul [style.display]="ulOrTable=='ul'?'block':'none'">
            <li *ngFor="let item of myList" [@fadeInOut]>
                {{item}}
            </li>
        </ul>
        <table border="1" [style.display]="ulOrTable=='table'?'block':'none'">
            <tr *ngFor="let item of myList" [@fadeInOut]>
                <td>{{item}}</td>
            </tr>
        </table>
    </tab>
    <tab heading="@enterLeave">
        <input type="button" value="add item" (click)="onAddItem()" /> &nbsp;
        <input type="button" value="remove item" (click)="onRemoveItem()" /><br/>
        <br/>
        <ul>
            <li *ngFor="let item of myList" [@enterLeave]="'flyIn'">
                {{item}}
            </li>
        </ul>
    </tab>
</tabset>


