.avecContour { display: inline-block; margin : 2px; padding: 2px;
    border-style: solid; border-color: blue; border-width: 1px;}

.avecCadre { display: block; margin : 2px; padding: 2px;
        border-style: solid; border-color: red; border-width: 1px;}    
.cxy {
    background-color: lightgrey;
}