<h2>Reservation of session in our Theater</h2>
<ol>
    <li><a routerLink="/ngr-sessions">select a session</a></li>
    <li><a routerLink="/ngr-customer">login as a customer (create account if necessary)</a></li>
    <li><a routerLink="/ngr-reservations">make a reservation</a></li>
</ol>
<hr/>OR<hr/>
<ol>
    <li><a routerLink="/ngr-customer">login as a existing customer</a></li>
    <li><a routerLink="/ngr-reservations">display reservations</a> OR update account (address, email, ...)</li>
</ol>

