<div class="basic">
  <p>basic sub-component</p>
  
  <div class="card">
    <div class="header center">
      card header 1
    </div>
    <div class="body">
      <h4><b>card body 1</b></h4>
      <p>details 1</p>
    </div>
    <div class="footer center">
        card footer 1
      </div>
  </div> 

  <mgc-toggle-panel [title]="'panel1'" >
     content of panel 1
    </mgc-toggle-panel>

    <mgc-tabset>
        <mgc-tab title="tab1">
        in tab1
        </mgc-tab>
        <mgc-tab title="tab2">
        in tab2
        </mgc-tab>
    </mgc-tabset>


</div>
