<div class="conv">
<form role="form"  class="form-horizontal" >
    <bsu-my-fg-label label='montant à convertir'>
      <input name="montantSource" [(ngModel)]="montantSource" />
    </bsu-my-fg-label>
    <bsu-my-fg-label label='monnaie source'>
        <select name="source" [(ngModel)]='source'>
              <option *ngFor="let d of devises">{{d.code}}</option>
        </select> 
    </bsu-my-fg-label>    
    <bsu-my-fg-label label='monnaie cible'>                  
        <select name="cible" [(ngModel)]='cible'>
                <option *ngFor="let d of devises">{{d.code}}</option>
          </select>
    </bsu-my-fg-label>
<input type='button' value='convertir' (click)="onConvertir($event)" /> <br/> 
</form>
<hr/>
montant converti : <b>{{montantCible}}</b>
</div>
