header - cpt={{globalService.cpt}} - 
<a [routerLink]="['/welcome' ]" >welcome </a> &nbsp;
<a [routerLink]="['/withChanges' ]" >withChanges </a> &nbsp;
<a [routerLink]="['/withDirective' ]" >withDirective </a> &nbsp;
<a [routerLink]="['/withChild' ]" >withViewChild </a> &nbsp;
<a [routerLink]="['/withContent' ]" >withContentChild </a> &nbsp;
<a [routerLink]="['/advanced' ]" >anim,injection,i18n</a> &nbsp;
<a [routerLink]="['/mylazy1']"> lazy loading  1 ...</a> &nbsp;
<a [routerLink]="['/mylazy2']"> lazy loading  2 ...</a> &nbsp;