<div class="basic">
  <tabset>
    <tab heading="calcul tva">
      <app-tva></app-tva>
    </tab>
    <tab heading="simulation emprunt">
        <app-simu-emprunt></app-simu-emprunt>
     </tab>
     <tab heading="conversion de devise">
        <app-conversion></app-conversion>
     </tab>
  </tabset>
</div>
<hr/>
<bsu-toggle-panel [title]="'panel1'" >
  <div>contenu du paneau 2</div>
</bsu-toggle-panel>
 <p></p>
<bsu-toggle-panel [title]="'panel2'" >
  <div>contenu du paneau 2</div>
</bsu-toggle-panel>


